body {
  background-color: gray;
  height: auto;
  margin-top: 0;
  padding-top: 0;
}

body .principal {
  max-width: 1000px;
  background-image: url('images/fundo_lighten.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  font-family: Arial, sans-serif;
  color: navy; 
}

.header {
  background-image: url('images/fundo_lighten.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(202, 199, 199);
  text-align: center;
  position: fixed;
  max-width: 1000px;
  min-width: 700px;
}

          .header .topo{
            display: flex;
            flex-direction: row;
            height: 70px;

          }

          .header .topo .esquerdo {
            flex: 1;
            border-style: none;
            border-width: 1px;

          }

          .header .topo .nome {
            flex: 5;
            font-size: 36px;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-style: none;
            border-width: 1px;
          }

          .header .topo .direito {
            flex: 1;
            padding: auto;
            margin: auto;
            margin-bottom: 0;
            border-style: none;
            border-width: 1px;
            display: flex;
            flex-direction: row;
            
          }
          .header .topo .direito img {
            vertical-align: top;
            padding-left: 10px;
          }

          .header .mensagem {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            margin-top: 5px;
            margin-bottom: 20px;
          }

          .header button {
            font-size: 20px;
            text-decoration: none;
            background-color: orange;
            border-color: darkorange;
            color: navy;
            border-width: 1px;
            border-radius: 5px;
            border-style: solid;
            margin: 15px 10px;
            padding: 5px 10px;
            cursor: pointer;
            box-shadow: 5px 5px 5px rgba(0,0,128,0.5);         
          }

          .header button:hover {  
            opacity: 80%;
            background-color: darkorange;
            font-style: italic;
          }

          .header button:active {
            opacity: 30%;
            background-color: darkorange;
            font-style: italic;
          }

          .header .botoes { 
            position: static;
          }

.corpo {
  padding-top: 220px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

          .corpo .foto {
            width: 33%;
          }

          .corpo .foto img{
            width: 100%;
            margin: 10px;
            border-radius: 50%;
            box-shadow: 10px 10px 25px rgba(0, 0, 128, 0.5);
          }

          .corpo .texto {
            width: 67%;
            line-height: 30px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 22px;
            padding: 10px 20px;
          }

.buttons-links {
  padding: 10px 20px;
}

.page {
  display: none;
  padding: 20px;
  line-height: 25px;
}

          .page.active {
            display: block;
          }

          #contact p {
            margin-left: 30px;
            line-height: 7px;
          }

          #contact a {
            text-decoration:none;
            color: rgb(0, 0, 128);
          }

.footer {
  bottom: 0;
  margin: 30px 0;
  padding: 20px 0;
  text-align: center;
  border-top-style: solid;
  border-top-color: rgb(202, 199, 199);
  border-top-width: 1px;
}

.resumeLink {
  flex: 1.5;
}

.resumeLink img {
  height: 50px;
  padding: 5px 0;
  margin-left: 30px;
  margin-right: 0;
}

.linkedinLink {
  flex: 1;
}

.linkedinLink img {
  height: 35px;
  padding-top: 8px;
}